body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
}

.container {
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    background-color: rgb(231, 198, 204);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin: 10px 0;
}

input {
    width: 100px;
    padding: 8px;
    margin: 5px;
    font-size: 14px;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: rgb(231, 198, 204);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ba9898;
}
